body {
  font-family: sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

header {
  background: gold;

  margin: 0;
  margin-bottom: 1ex;
  padding: 5px;
  padding-bottom: 1ex;
  padding-left: 2ex;
  border-bottom: 1px solid black;
  max-height: 8vh;
}

header h1 {
  font-size: 18pt;
  margin: 0;
}

header nav {
  padding: 0;
  margin: 0
}

header nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 0;
  margin-right: 2ex;
  padding: 0;
}

nav {
  display: inline-block;
}

nav a, nav a:active, nav a:visited {
  color: inherit;
  text-decoration: none;
}

header nav a:active {
  color: yellow;
}

#global_settings {
  display: inline-block;
}

main {
  padding: 0;
  margin: 0;
  margin-left: 2ex;
}

main h1 {
  font-size: 16pt;
}

main h2 {
  font-size: 14pt;
}

#wrapper {
  display: flex;
  max-height: 80vh;
  margin: 0;
  padding: 0;
}

#meme_list {
  max-width: 50vw;
  max-height: 80vh;
  flex: 0 0 50%;
  font-size: smaller;
}

#meme_view {
  flex: 1;
  max-width: 50vw;
  margin-left: 2ex;
  border-left: 1px solid black;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse; 
  font-size: smaller;
}

tr[data-valid='false'] {
  opacity: 0.3;
}

tr.header {
  margin-bottom: 5px;
}

tr.header th {
  font-size: larger;
}

tbody tr:not(.header):nth-child(odd) {
  background: #eaeaea;
}

tbody tr:not(.header) th {
  font-weight: normal;
  font-style: italic;
}

tbody td, thead th {
  padding-right: 10px;
}

thead {
  border-bottom: 1px solid black;
}

th {
  text-align: left;
  vertical-align: top;
}

th.number, td.number {
  text-align: right;
}

td.valid {
  text-align: center;
}

footer {
  height: 5vh;
  border-top: solid 1px black;
  font-size: smaller;

  margin: 0;
  margin-top: 1ex;
  padding: 0;
}

footer p {
  padding: 0;
  margin: 0;
}

button {
  background: inherit;
  border: 1px solid black;
  font-weight: bolder;
  font-size: larger;
}

img {
  margin-top: 1ex;
  margin-bottom: 1ex;
  max-width: 75vw;
  max-height: 75vh;
}

tr form {
  display: inline;
}

button.action {
  border-radius: 10px;
}

a.action {
  margin: 1ex;
}

a.action, a.action:active {
  text-decoration: none;
  color: inherit;
}

a.action:visited {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  color: white;
  background: black;
}

button[name='delete'] {
  color: ivory;
  background: crimson;
  border: 1px solid crimson;
}

button[name='delete']:hover {
  color: black;
  background: red;
}
