<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meme Collector</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Meme Collector</h1>
      <nav>
        <ul>
          <li><a href="/overview">overview</a></li>
          <li><a href="/tags">manage tags</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>
        Meme Collector is Free Software and is released under the GPLv3
      </p>
    </footer>
  </body>
</html>
